body {

}
header {
    background: #111;
    height: 62px;
    padding: 0 5%;
    width: 100%;
    position: absolute;
    z-index: 1000;
}

@media only screen and (min-width: 830px){ 
.header {
    background: #111;
    height: 92px;
    }
}

@media only screen and (min-width: 1024px){ 
.col-12 {
    width: 100%;
    }
}

@media only screen and (min-width: 1024px){ 
[class^="col-"] {
    float: left;
    list-style: none;
    position: relative;
    }
}

@media only screen and (min-width: 830px){ 
.logo {
    height: 92px;
    width: 62px;
    background: url(images/sprite.png) 0px -93px no-repeat;
    }
}

@media only screen and (min-width: 830px) and (-webkit-min-device-pixel-ratio: 1.5), not all, not all{ 
.logo, .social li a, .blog .author-profile .avatar {
    background-size: 200px 1200px;
    }
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header > nav {
    display: none;
    background: #222222;
    position: absolute;
    top: 62px;
    right: 0px;
    z-index: 1000;
    width: 100%;
}

@media only screen and (min-width: 830px){ 
li {
    display: inline-block;
    position: relative;
    height: 92px;
    border: 0px;
    padding-left:30px;
    padding-right:30px;
    }
}
.nav_Link{
    color: white;
    display: inline;

} 

.nav_Link:hover{
    color: rgb(156, 156, 156);
}
.social {
    margin-left: 30px;
}