body {
}
header {
    background: black;
    height: 62px;
    width: 100%;
    z-index: 1000;
position: absolute;

}

@media only screen and (min-width: 830px){ 
.header {
    background: black;
    height: 92px;
    }
}

@media only screen and (min-width: 1024px){ 
.col-12 {
    width: 100%;
    }
}

@media only screen and (min-width: 1024px){ 
[class^="col-"] {
    float: left;
    list-style: none;
    position: relative;
    }
}
.logo{
    padding: 0 5%;
    height: 92px;
    width: 92px;
}




ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header > nav {
    display: none;
    background: #222222;
    position: absolute;
    top: 62px;
    right: 0px;
    z-index: 1000;
    width: 100%;
}

@media only screen and (min-width: 830px){ 
li {
    display: inline-block;
    position: relative;
    height: 92px;
    border: 0px;
    padding-left:50px;
    padding-right:25px;
    margin-top: 15px;
    }
}
.nav_Link{
    color: white;
    display: inline;
    text-decoration:none;
    font-size: 22px;
} 

.nav_Link:hover{
    color: rgb(156, 156, 156);
}
.social {
    color: white;
    font-size: 36px;
}
.social:hover{
    color: rgb(156, 156, 156);
}

i{
    color: white;
}

.i:hover{
    color: rgb(156, 156, 156);

}

.position{
    float: right;
}