
  @media only screen and (min-width: 830px){ 
    .header {
        background: #202020;
        height: 92px;
        }
    }
    
    @media only screen and (min-width: 1024px){ 
    .col-12 {
        width: 100%;
        }
    }
    
    @media only screen and (min-width: 830px){ 
        li {
            display: inline-block;
            position: relative;
            height: 92px;
            border: 0px;
            padding-left:25px;
            padding-right:25px;
            margin-top: 20px;
            }
        }  

        
        @media (max-width: 1650px) {
            .nav-link {
              font-size: 0.99vw;
              
            }
          }
          @media (max-width: 1440px) {
            .nav-link {
              font-size: 1.1vw;
              
            }
          }
          @media (max-width: 1150px) {
            .nav-link {
              font-size: 1.1vw;
              font-weight: 600;
            }
          }
     
          @media (min-width: 1000px) and (max-width: 1540px) { 
            .logo {
                margin-left: 4vw;

            }
          }
         